<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>
	<Files .htaccess>
		order allow,deny
		deny from all
	</Files>
	<Files runtime>
		order allow,deny
		deny from 127.0.0.1
	</Files>
	RewriteEngine on

	# if a directory or a file exists, use it directly
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?r=$1 [QSA,PT,L]

</IfModule>