<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../public/css/framework.css">
		<link rel="stylesheet" href="../public/css/bootstrap.css">
		<link rel="stylesheet" href="../public/css/normalize.css">
		<title>首页</title>
	</head>
	<body style="text-align: center;">
		<br><br><br><br>
		<h1>Mini Tech</h1>
		<p>Creater: Merjiezo</p><br>
		<form action="handlelogin" method="POST">
			<input type="text" placeholder="username" name="user"><br>
			<input type="password" placeholder="password" name="pass"><br>
			<input type="submit" value="提交">
		</form>
	</body>
</html>